<!DOCTYPE html>
<html>

    <head>
        <title>
            <%= title %>
        </title>
    </head>

    <body>
        <h1>Error <%= status %>
        </h1>
        <p>
            <%= message %>
        </p>
        <a href="/">Return to homepage</a>
    </body>

</html>