<div>
    <h2>New Message</h2>

    <form method="POST" action="/new">
        <label for="message-author">Author</label>
        <input type="text" id="message-author" name="messageUser">

        <label for="message-text">Message</label>
        <input type="text" id="message-text" name="messageText">

        <button type="submit">Submit</button>
    </form>
</div>